<p>Beste {{ name }},</p>

{% block body %}{% endblock %}

<p>
    Met vriendelijke groet,<br>
    Marga Meijerman
</p>

<p>
    Herstelkamer Nootdorp<br>
    Hof van Koningsveld 39<br>
    2631 WJ Nootdorp<br>
    Mail: info@herstelkamer.nl<br>
    Telefoon (bij voorkeur tussen 19.00 en 23.00 uur):06-18434805.
</p>
