<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="nl" lang="nl">
<head>
	<title>Herstelkamer Nootdorp</title>
	<meta http-equiv="content-type" content="text/html;charset=iso-8859-1" />
        <link href="style.css" rel="stylesheet" type="text/css" />
</head>

<body>
<center>
	<div id="body_vervolgpagina">
		<div id="container">

			<div id="header">
				<a href="index.html"><img src="images/logo_color.png" /></a>			
			</div>
			
			<div id="content">
				
				<div class="article">
					<h1>Wie ben ik?</h1>
					<img src='images/wiebenik.jpeg'>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vestibulum imperdiet condimentum. Phasellus placerat ipsum sed leo laoreet, ac fringilla dolor bibendum. Nulla facilisi. Sed eget tortor neque. Fusce fringilla condimentum ipsum vel dignissim. Nullam metus dolor, vulputate ac nunc eu, porttitor tristique felis. Etiam porta rutrum enim id auctor.
					<br /><br />
					In libero dui, semper vel aliquet et, tincidunt vitae sem. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec id dui augue. Nam euismod viverra sodales. Curabitur sed ultricies lacus. Quisque imperdiet non nunc vel porta. Vestibulum eu elit in turpis efficitur aliquet. Quisque ac quam leo. Integer facilisis vehicula leo, sit amet posuere ligula efficitur nec. Ut sit amet mi ut purus interdum ultrices. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Pellentesque sagittis sodales lectus rhoncus viverra. Nulla ac sapien ultrices, lobortis nisl vitae, vulputate turpis.
					
					<br /><br /><br />
					
					<div class='reserveer_button'>
						<a href='#' class='button'>Reserveren</a>
					</div>
				</div>
			</div>
			
		</div>
		
		<div id="footer">
			<div id='footer_container'>
			
				<div class='footer_content'>
					<a href='#'>Contact</a><br />
					<span class='kvk'>KvK nr: 00000000</span>
					<span class='kvk'>IBAN: NL00 INGB 0000000000</span>
				</div>
				
				<div class='footer_content'>
					<div class='midden'>
						<a href='#'>Reviews</a><br />
						<a href='#'>Fotoboek</a>
					</div>
				</div>
				
				<div class='footer_content'>
					<div class='rechts'>
						<img src='images/facebook.png'> <a href='#'>Facebook </a><br />
						<img src='images/LinkedIn_2.png'> <a href='#'>LinkedIn </a><br />
					</div>
				</div>
				
			</div>
		</div>
	</div>
	
</center>
</body>

</html>