{% extends 'base.html.twig' %}

{% block content %}

<div id="welkom">
	<div class="article">
		<h1>Welkom bij Herstelkamer Nootdorp</h1>
		<img src='images/foto.jpg'>
	</div>
</div>

<div id="content">			
	<div class="article_h">
		<h1>Wie ben ik?</h1>
		
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse in lectus luctus, sagittis orci eu, tempor purus. Nam pellentesque maximus tellus, a porta libero malesuada non. Nullam in mauris nunc. Suspendisse vestibulum, lorem eu vehicula commodo, dui leo pretium elit, sed tempor ante nulla in tortor.
	</div>
		
	<div class="article_h">
		<h1>Wat is het?</h1>
		
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse in lectus luctus, sagittis orci eu, tempor purus. Nam pellentesque maximus tellus, a porta libero malesuada non. Nullam in mauris nunc. Suspendisse vestibulum, lorem eu vehicula commodo, dui leo pretium elit, sed tempor ante nulla in tortor.
	</div>
		
	<div class="article_h">
		<h1>Wat kost het?</h1>
		
		Lorem ipsum dolor sit amet, consectetur adipiscing elit.
	</div>
	
	<div class="article_h">
		<h1>Inrichting</h1>
		
		<img class='inrichting' src='images/inrichting.jpg'>
	</div>
	
	<div class="article_h">
		<h1>Heeft u nog vragen?</h1>
		
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse in lectus luctus, sagittis orci eu, tempor purus.
	</div>
		
	<div class="article_h">
		<h1>Reserveren?</h1>
		
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse in lectus luctus, sagittis orci eu, tempor purus.
	</div>
	
	<div class="article_h">	
		<h1>Proclaimer</h1>
		
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse in lectus luctus, sagittis orci eu, tempor purus. Nam pellentesque maximus tellus, a porta libero malesuada non. Nullam in mauris nunc. Suspendisse vestibulum, lorem eu vehicula commodo, dui leo pretium elit, sed tempor ante nulla in tortor.
	</div>
	
	<div class="article_h">
		<h1>Beschikbaarheid</h1>
		<a href='#'><img src='images/calendar.png'></a>
	</div>
	
	<div class="article_h">
		<h1>Reviews</h1>
		Aarnoud Thomassen<br />
		<i>"Lorem ipsum dolor sit amet."</i><br />
		<br />
		<a href='#'><i>Bekijk alle reviews</i></a>
	</div>
	
	<div class="article_h">
		<h1>Fotoboek</h1>
		<a href='#'><img src='images/photo-camera.png'></a>
	</div>
	
	<div class="article_h">
		<h1>Contact</h1>
		<a href='#'><img src='images/contact.png'></a>
	</div>
</div>

{% endblock %}

