parameters:
    database_host: 127.0.0.1
    database_port: ~
    database_name: herstelkamer
    database_user: herstelkamer
    database_password: herstelkamer

    mailer_transport: smtp
    mailer_host: 127.0.0.1
    mailer_user: info@herstelkamer.nl
    mailer_password: ~
    mailer_port: ~
    mailer_encryption: ~
    mailer_auth_mode: ~
    mailer_delivery_address: []

    secret: ThisTokenIsNotSoSecretChangeIt
