<p>Beste {{ name }},</p>

{% block body %}{% endblock %}

<p>
    Met vriendelijke groet,<br>
    Marga Meijerman
</p>

<p>
    Herstelkamer Nootdorp<br>
    Hof van Koningsveld 39<br>
    2631 WJ Nootdorp<br>
    Tel. +31 6 18 43 48 05<br>
    https://www.herstelkamer.nl<br>
    K.v.K.: 71244360<br>
    IBAN: NL55RABO0328949442<br>
    BTW-id: NL002046992B64
</p>
