{% extends 'mails/base_mail_to_customer.html.twig' %}

{% block body %}
    <p>Dank voor uw reserveringsaanvraag. Ik neem uw aanvraag in behandeling en ik neem binnenkort contact met u op.</p>
{% endblock %}


