@font-face {
	font-family: OpenSans;
	src: url(OpenSans-Light.ttf);
}

body {
	width: 100vw;
	min-height: 100vh;
	margin: 0;
	padding: 0;
	font-family: OpenSans, Calibri, sans-serif;
	font-size: 1em;
	color: #000;
	background: #FCFCFC;
}

a:link, a:visited {
	color: #00137F; /* #E500C6 */
	text-decoration: none;
	
	-o-transition: .3s;
	-ms-transition: .3s;
	-moz-transition: .3s;
	-webkit-transition: .3s;
	transition: .3s;
}

a:hover, a:active {
	color: #00B3EF;
}

/* CONTAINER */

#container {
	width: 100vw;
	padding-bottom: 3em;
}

/* HEADER */

#header {
	width: 100%;
	background: none;
}

#header img {
	max-height: 100px;
	padding-top: 2em;
	padding-bottom: 2em;
}

								/* WELKOM TEKST */
								
#welkom {
	width: 100%;
	background: rgba(0,177,237,.2);
	padding: 1em;
}

#welkom .article h1 {
	font-weight: normal;
	font-family: OpenSans, Calibri, sans-serif;
	margin-top: .5em;
}

#welkom .article img {
	border-radius: 50%;
	width: 150px;
	margin-bottom: .5em;
}

								/* MENU */

#menu {
	width: 70%;
	background: rgba(0,177,237,.2);
	padding-left: 15%;
	padding-right: 15%;
	margin: 0;
}

#menu a:link, #menu a:visited {
	display: block;
	color: #000;
	font-weight: normal;
	text-decoration: none;
	font-size: 1.3em;
	padding-top: .8em;
	padding-bottom: .8em;
	
	-o-transition: .3s;
	-ms-transition: .3s;
	-moz-transition: .3s;
	-webkit-transition: .3s;
	transition: .3s;
}

#menu a:hover, #menu a:active {
	background: rgba(0,177,237,.2);
	color: #000;
}

#menu ul {
	display: flex;
	list-style-type: none;
	padding: 0;
	margin: 0;
}

#menu li {
	flex: 1 1 0;
}

			/* CONTENT */

#content {
	width: 70%;
}

#content .article {
	padding: .8em 3em;
	background: none;
}

#content .article h1 {
	font-weight: normal;
	font-family: OpenSans, Calibri, sans-serif;
	margin-top: .5em;
}

#content .article img {
	border-radius: 50%;
	width: 150px;
}

			/* HALF ARTICLE */

#content .article_h {
	vertical-align: top;
	margin-top: 1em;
	width: 40%;
	display: inline-block;
	padding: .8em 3em;
}

#content .article_h h1 {
	font-size: 1.8em;
	font-weight: normal;
	font-family: OpenSans, Calibri, sans-serif;
	margin-top: 0;
	margin-bottom: .2em;
}

#content .article_h img {
	margin-top: 1em;
	width: 100px;
	
	-o-transition: .3s;
	-ms-transition: .3s;
	-moz-transition: .3s;
	-webkit-transition: .3s;
	transition: .3s;
}

#content .article_h img:hover {
	width: 120px;
}

#content .article_h .inrichting {
	width: 300px;
	max-height: 300px;
	box-shadow: 0px 0px 10px 2px rgba(0,0,0,.5);
}

#content .article_h .inrichting:hover {
	width: 300px;
}

/* FOOTER */

#footer {
	background: #404040;
	width: 100%;
	color: #FFF;
	padding-top: .3em;
	padding-bottom: .3em;
}